<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="Test">
    <!-- Mandatory parameters -->
    <!-- VCF Manager parameters -->
    <parameter name="gatewayIp" value="10.110.0.1"></parameter> 
    <parameter name="hostFile" value="src/test/resources/us-gui leaf3-4.txt"></parameter>
    <parameter name="vlanCsvFile" value="src/test/resources/vlan.csv"></parameter>
    <parameter name="vrrpCsvFile" value="src/test/resources/vrrp.csv"></parameter>
    <parameter name="ospfCsvFile" value="src/test/resources/1ospf.csv"></parameter>
    <parameter name="bgpCsvFile" value="src/test/resources/1bgp.csv"></parameter>
        
    <!-- NOTE: Additional optional parameters are:
    	<parameter name="dataNodeHost" value="10.9.8.85"></parameter>
    	<parameter name = "password" value="value_to_be_set_for_vcfc_instance"></parameter>
    	<parameter name= "bsUserId" value="BS_uid"></parameter>
    	<parameter name= "bsKey" value="BS_Key"></parameter>
    	<parameter name= "pcapName" value="pcap1"></parameter>
    	<parameter name= "flowName" value="flow1"></parameter>
	//Currently these optional parameters are being set to default values if the user doesn't specify them.
   END OF NOTE -->

    <classes>
      <class name="com.pluribus.vcf.test.VcfMgr"/>	
    </classes>	
  </test> <!-- Test -->
</suite> <!-- Suite -->
